body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
/*Header*/
.header {
    height: 116px;
    background: #9FD8ED;
}
.container {
    width: 1680px;
    margin: 0 auto;
}
.nav {
    height: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-text {
    margin-left: 0.7em;
}
.nav a {
    display: block;
    text-decoration: none;
}
.logo-text p {
    color: black;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}
.menu {
    display: flex;
    list-style-type: none;
}
.menu li a{
    color: #01416F;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-right: 3em;
}
.last {
    margin-right: 0 !important;
}
.tablet-title {
    display: none;
}
.phone-title {
    display: none;
}
.menu-open {
    display: none;
}

h1 {
    margin-top: 1.8em;
    margin-bottom: 1.1em;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 46px;
    color: #01416F;
    text-align: center;
}
.text_with_photo {
    display: flex;
}
.text_with_buttons {
    margin-left: 3.3em;
}
.text_with_buttons p {
    margin: 0 auto;
}
.button-block {
    margin-top: 1.45em;
    justify-content: space-between;
    display: flex;
}

button {
    background-color: #F7941D;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    outline: none;
    font-weight: 600;
    width: 13.3em;
    height: 4.4em;
    font-size: 1em;
}

main {
    margin-bottom: 3.75em;
}

/*Footer*/
.up {
    margin-top: -45px;
    margin-left: -45px;
    float: right;
}
.footer-panel {
    height: 384px;
    background: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first_block {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.footer-block p {
    font-size: 24px;
    margin: 0
}
.SemiBold {
    font-weight: 600;
}
.second_block a {
    text-decoration: none;
    color: black;
}
.second_block a :hover {
    text-decoration: underline;
}
.text-link {
    display: flex;
    align-items: center;
}
.social-net {
    display: flex;
    align-items: center;
}
.fastlinks {
    padding: 0;
    list-style-type: none;
    font-size: 24px;
    margin: 0;
}
.fast_link {
    color: black;
    text-decoration: none;
}
.fast_link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1800px) {
    body {
        font-size: 17px;
    }
    .container {
        width: 1196px;
    }
    .header {
        height: 83px;
    }
    .nav {
        height: 83px;
    }
    .logo img:nth-child(1){
        width: 77px;
    }
    .logo-text p {
        font-size: 14px;
    }
    .menu li a {
        font-size: 17px;
    }

    .text_with_photo img{
        width: 391px;
    }

    .up img:nth-child(1){
        width: 33px;
    }
    .up {
        margin-top: -33px;
        margin-left: -33px;
    }
    .footer-panel {
        margin-top: 105px;
        height: 275px;
    }
    .first_block img:nth-child(1) {
        width: 160px;
    }
    .footer-block p {
        font-size: 18px;
    }
    .second_block img {
        width: 22px;
    }
    .social-net img {
        width: 18px
    }
    .fastlinks {
        font-size: 18px;
    }
}

@media screen and (max-width: 1375px) {
    .container {
        width: 960px;
    }
    .menu li a{
        margin-right: 1.2em;
    }
    .text_with_photo img{
        width: 30%;
        height: 30%;
    }
    .text_with_buttons {
        margin-left: 2.5em;
    }
    button {
        font-weight: 400;
        width: 12em;
    }
    h1 {
        font-size: 33px;
    }
}

@media screen and (max-width: 991px) {
    body {
        font-size: 15px;
    }
    .container {
        width: 720px;
    }
    .logo-text {
        display: none;
    }
    .menu {
        display: none;
    }
    .tablet-title {
        display: block;
        font-size: 22px;
        font-family: 'Merriweather', serif;
        text-align: center;
    }
    .menu-open {
        display: block;
        background-color: transparent;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        font-size: 1.25em;
    }

    .text_with_photo {
        flex-wrap: wrap;
        justify-content: center;
    }
    .text_with_buttons {
        margin-left: 0;
        margin-top: 2em;
    }
    .text_with_photo img{
        width: 60%;
        height: 60%;
    }
    button {
        font-weight: 600;
        width: 13.3em;
        font-size: 1.1em;
    }

    .footer-panel {
        margin-top: 4em;
    }
    .footer-block p {
        font-size: 15px;
        line-height: 1.5;
    }
    .second_block img {
        width: 20px;
    }
    .social-net img {
        width: 15px
    }
    .fastlinks {
        font-size: 15px;
        line-height: 1.5;
    }
    .footer-panel {
        height: 260px;
    }
    .first_block {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 15px;
    }
    .container {
        width: 540px;
    }
    .news_inner_container {
        width: 540px;
    }
    .logo img:nth-child(1){
        width: 65px;
    }
    .header {
        height: 76px;
    }
    .nav {
        height: 76px;
    }
    .tablet-title {
        font-size: 20px;
    }

    h1 {
        font-size: 22px;
    }
    button {
        font-weight: 600;
        width: 12.5em;
        font-size: 1em;
    }

    .footer-block p {
        font-size: 13px;
        line-height: 1.7;
    }
    .second_block img {
        width: 18px;
    }
    .social-net img {
        width: 13px
    }
    .fastlinks {
        font-size: 13px;
        line-height: 1.7;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
    }
    .logo img:nth-child(1){
        margin-left: 20px;
        width: 60px;
    }
    .header {
        height: 83px;
    }
    .nav {
        width: 100%;
        margin: 0 auto;
    }
    .tablet-title {
        display: none;
    }
    .phone-title {
        display: block;
        font-size: 18px;
        font-family: 'Merriweather', serif;
        text-align: center;
    }
    .menu-open {
        margin-right: 20px;
    }

    h1 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
    .text_with_buttons {
        width: 90%;
    }
    .button-block {
        margin-top: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    button {
        width: 80%;
        margin-top: 1.1em;
        font-size: 18px;
        font-weight: bold;
        height: 4em;
    }
    .text_with_photo img {
        width: 80%;
        height: 80%;
    }

    .footer-panel {
        margin-top: 70px;
        height: 270px;
    }
    .footer-block {
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        justify-content: space-around;
    }
    .link-block {
        display: none;
    }
    .footer-block p {
        font-size: 15px;
    }
    .second_block img {
        width: 20px;
    }
    .social-net img {
        width: 15px
    }
    .fastlinks {
        font-size: 15px;
    }
}

@media screen and (max-width: 460px) {
    .footer-block {
        width: 70%;
        justify-content: center;
    }
    .footer-panel {
        height: 500px;
        text-align: center;
    }
    .social-net {
        margin: 0 auto;
    }
    .second_block {
        margin-top: 20px;
    }
}

@media screen and (max-width: 350px) {
    .phone-title {
        font-size: 15px;
    }
    button {
        font-size: 16px;
        height: 4em;
    }
}