body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
/*Header*/
.header {
    height: 116px;
    background: #9FD8ED;
}
.container {
    width: 1680px;
    margin: 0 auto;
}
.nav {
    height: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-text {
    margin-left: 0.7em;
}
.nav a {
    display: block;
    text-decoration: none;
}
.logo-text p {
    color: black;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}
.menu {
    display: flex;
    list-style-type: none;
}
.menu li a{
    color: #01416F;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-right: 3em;
}
.last {
    margin-right: 0 !important;
}

h1 {
    margin-top: 1.8em;
    margin-bottom: 1.1em;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 46px;
    color: #01416F;
    text-align: center;
}
.text_with_photo {
    display: flex;
}
.text_with_buttons {
    margin-left: 3.3em;
}
.text_with_buttons p {
    margin: 0 auto;
}
.button-block {
    margin-top: 1.45em;
    justify-content: space-between;
    display: flex;
}

button {
    background-color: #F7941D;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    outline: none;
    font-weight: 600;
    width: 13.3em;
    height: 4.4em;
    font-size: 1em;
}

main {
    margin-bottom: 3.75em;
}

/*Footer*/
.up {
    margin-top: -45px;
    margin-left: -45px;
    float: right;
}
.footer-panel {
    height: 384px;
    background: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first_block {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.footer-block p {
    font-size: 24px;
    margin: 0
}
.SemiBold {
    font-weight: 600;
}
.second_block a {
    text-decoration: none;
    color: black;
}
.second_block a :hover {
    text-decoration: underline;
}
.text-link {
    display: flex;
    align-items: center;
}
.social-net {
    display: flex;
    align-items: center;
}
.fastlinks {
    padding: 0;
    list-style-type: none;
    font-size: 24px;
    margin: 0;
}
.fast_link {
    color: black;
    text-decoration: none;
}
.fast_link:hover {
    text-decoration: underline;
}